POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=architecture_simulator
POSTGRES_PORT=5432
REDIS_PORT=6379

MONOLITH_API_PORT=8000
SUBMISSION_API_PORT=8001
STATUS_API_PORT=8002
COMMAND_API_PORT=8003
QUERY_API_PORT=8004
UI_PORT=5173
